{% extends 'backoffice/base.html.twig' %}

{% block body %}
	{{ parent() }}
	<h1 class="titre">Backoffice - GMI</h1>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('backoffice') }}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{{ path('backoffice_materiels') }}">Matériels</a></li>
            <li class="breadcrumb-item active" aria-current="page">Création</li>
		</ol>
	</nav>

    <div class="main">
        <h3>Ajouter un matériel</h3>

		{{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_rest(form) }}
                </div>
            </div>
        {{ form_end(form) }}
	</div>
{% endblock %}
