{% extends 'backoffice/base.html.twig' %}

{% block body %}
	{{ parent() }}
	<h1 class="titre">Backoffice - GMI</h1>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('backoffice') }}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{{ path('backoffice_utilisateurs') }}">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Édition - {{user}}</li>
		</ol>
	</nav>

    <div class="main">
        <h3>Éditer un matériel</h3>

		{{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.roles) }}
                    {{ form_row(form.Valider) }}
                </div>
            </div>
        {{ form_end(form) }}
	</div>
{% endblock %}
