{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block body %}
	{{ parent() }}

    {% include 'includes/nav.html.twig' %}
    {% include 'modal-delete-event-google.html.twig' %}

    <h1 class="titre">{{titre}}</h1>

    <div id="toasts"></div>

    <div class="monCompte">
        <div class="row align-items-center">
            <img class="materiel-img img-fluid rounded w-auto col-auto" src="{{ asset(uploads_images ~ 'user.png') }}" alt="image anonyme de l'utilisateur">
            <h4 class="text-color col-auto mb-0">{{app.user}}</h4>
            {% for role in app.user.roles %}
                {% if role == "ROLE_ADMIN" %}
                    <h4 class="text-color ms-auto col-auto mb-0">Admin</h4>
                {% else %}
                    <h4 class="text-color ms-auto col-auto mb-0">Utilisateur</h4>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="d-flex align-items-center mb-3">
           <h5 class="text-color mb-0">Email : </h5> <span class="ms-2 mt-1">{{app.user.email}}</span>
        </div>
        <div class="color">
            <a href="{{ path('reset_password', {'id': app.user.id}) }}">Changer mon mot de passe</a>
        </div>
    </div>

    <h4 class="titre mt-5">Mes Réservations</h4>

    {% if reservations is not empty %}
        {% for reservation in reservations %}
            <div id="reservations-{{reservation.id}}" class="monCompte mb-2">
                <div class="row align-items-center mb-2">
                    {% if "now"|date('Y-m-d H:i:s') < reservation.fin|date('Y-m-d H:i:s') and "now"|date('Y-m-d H:i:s') > reservation.debut|date('Y-m-d H:i:s') %}
                        <div class="status col-auto badge bg-success">
                            En cours
                        </div>
                    {% endif %}
                    {% if "now"|date('Y-m-d H:i:s') > reservation.fin|date('Y-m-d H:i:s') %}
                        <div class="status col-auto badge bg-danger">
                            Terminée
                        </div>
                    {% endif %}
                    {% if "now"|date('Y-m-d H:i:s') < reservation.fin|date('Y-m-d H:i:s') and "now"|date('Y-m-d H:i:s') < reservation.debut|date('Y-m-d H:i:s') %}
                        <div class="status col-auto badge bg-warning text-dark">
                            À venir
                        </div>
                    {% endif %}
                    <div class="buttons me-0 ms-auto col-auto">
                        <div id="{{reservation.id}}edit" title="Éditer la réservation {{reservation.idMateriel.libelle}}" class="buttonEdit edit-event-google" type="submit" data-bs-toggle="modal" data-bs-target="#edit_event_google"><i data-id="{{reservation.id}}" data-route="{{path('edit_event_google', { 'id': reservation.id })}}" class="fa-solid fa-edit"></i></div>
                        <div id="{{reservation.id}}delete" title="Supprimer la réservation {{reservation.idMateriel.libelle}}" class="buttonDelete delete-event-google" type="submit" data-bs-toggle="modal" data-bs-target="#delete_event_google"><i data-id="{{reservation.id}}" class="fa-solid fa-trash"></i></div>
                    </div> 
                </div>
                <div class="row align-items-center">
                    <img class="materiel-img img-fluid rounded w-auto col-auto" src="{{ asset(uploads_images ~ reservation.idMateriel.image) }}" alt="image du materiel">
                    <h4 class="text-color col-auto mb-0">{{reservation.idMateriel.libelle}}</h4>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <span class="ms-2 mt-1 color">Du <span id="{{reservation.id}}-debut" data-debut="{{reservation.debut|date('Y-m-d H:i:s')}}" class="fw-bold">{{reservation.debut|date('d/m/Y')}}</span> à partir de <span id="{{reservation.id}}-debut-hour" class="fw-bold">{{reservation.debut|date('H:i')}}</span>  jusqu'au <span id="{{reservation.id}}-fin" data-fin="{{reservation.fin|date('Y-m-d H:i:s')}}" class="fw-bold">{{reservation.fin|date('d/m/Y')}}</span> à <span id="{{reservation.id}}-fin-hour" class="fw-bold">{{reservation.fin|date('H:i')}}</span></span>
                </div>
                
            </div>
        {% endfor %}
    {% else %}
	<div class="form-materiel mt-2">
		Aucunes réservations
	</div>
	{% endif %}

    <div class="d-flex justify-content-center">{{ knp_pagination_render(reservations) }}</div>

    <div class="modal fade formItem" id="edit_event_google" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="height: auto">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier la réservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
	{% include 'includes/footer.html.twig' %}
{% endblock %}

