{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script defer src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}

{% block body %}
	{{ parent() }}

    {% include 'includes/nav.html.twig' %}

    <h1 class="titre">{{titre}}</h1>

    <div class="monCompte pb-5">
        <h3 class="color">Changer mon mot de passe</h3>

        <form name="reset_password" action="{{path('reset_password', { 'id' : user.id})}}" method="POST">
		    <div class="mb-3">
                <label for="new_password" class="form-label required">* Nouveau mot de passe :</label>
                <input type="password" id="new_password" name="new_password" required class="form-control">        
            </div>
            <div class="mb-3">
                <label for="new_password_confirm" class="form-label required">* Confirmer le nouveau mot de passe :</label>
                <input type="password" id="new_password_confirm" name="new_password_confirm" required class="form-control">        
            </div>

             <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-color float-end btn me-2">Valider</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block footer %}
	{% include 'includes/footer.html.twig' %}
{% endblock %}